<!doctype html>
<html lang="en">
  <!-- Head tag -->
  <!-- SEO -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Angular SPA｜Gao&#39;s Blog</title>
    <meta property="og:title" content="Angular SPA｜Gao&#39;s Blog" />

    <meta name="description" content="Angular SPA｜Gao&#39;s Blog" />
    <meta property="og:description" content="Angular SPA｜Gao&#39;s Blog" />
    <meta name="author" content="Gao" />
    <meta name="robots" content="index, follow" />
    <meta
      property="og:image"
      content="https://vitaminac.github.io/images/favicon.jpg"
    />
    <link rel="shortcut icon" href="/images/favicon.jpg" />

    <meta name="keywords" content="Aplicación Web,SPA,Angular" />

    <meta name="theme-color" content="#600090" />
    <meta name="msapplication-navbutton-color" content="#600090" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#600090" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Gao&#39;s Blog"
      href="/atom.xml"
    />

    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      cross-origin="anonymous"
      referrer-policy="no-referrer"
    />
    <link
      rel="canonical"
      href="https://vitaminac.github.io/posts/Angular-SPA/"
    />

    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/blog-style.css" />
    <link rel="stylesheet" href="/css/syntax.css" />

    <!-- Google Tag Manager -->

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WDC9JKC");
    </script>

    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-151409235-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-151409235-1");
    </script>

    <!-- Google AdSense -->
    <script
      data-ad-client="ca-pub-8356359077918854"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <meta name="generator" content="Hexo 6.3.0" />
  </head>
  <style>
    header.intro-header {
      background-image: url("/images/header.gif");
    }
  </style>
  <!-- hack iOS CSS :active style -->

  <body ontouchstart="" class="animated fadeIn">
    <!-- Main Content -->

    <!--only post-->

    <img
      class="wechat-title-img"
      src="/_next/static/media/default-post-preview.c96b099a.jpeg"
    />

    <!-- Post Content -->
    <article class="container" style="width: 100%; max-width: 100%">
      <!-- Post Container -->
      <div class="post-container">
        <h1 id="Angular">
          <a href="#Angular" class="headerlink" title="Angular"></a>Angular
        </h1>
        <h2 id="Introduccion-a-Angular">
          <a
            href="#Introduccion-a-Angular"
            class="headerlink"
            title="Introducción a Angular"
          ></a
          >Introducción a Angular
        </h2>
        <p>
          Angular es un framework para desarrollo SPA, permite extender el HTML
          con etiquetas propias.
        </p>
        <h2 id="Angular-CLI">
          <a href="#Angular-CLI" class="headerlink" title="Angular-CLI"></a
          >Angular-CLI
        </h2>
        <p><img src="angular-cli.PNG" alt="Angular CLI" /></p>
        <h2 id="Proyecto">
          <a href="#Proyecto" class="headerlink" title="Proyecto"></a>Proyecto
        </h2>
        <p><img src="project-folder.PNG" alt="Angular Project Folder" /></p>
        <ul>
          <li>src: Fuentes de la aplicación</li>
          <li>node_modules: Librerías y herramientas descargadas</li>
          <li>e2e: Testing end to end</li>
          <li>package.json: Configuración de librerías y herramientas</li>
          <li>angular-cli.json: Configuración de angular-cli</li>
        </ul>
        <p><img src="project-file.PNG" alt="Angular Project File" /></p>
        <ul>
          <li>
            app: Carpeta que contiene los ficheros fuente principales de la
            aplicación.
          </li>
          <li>Borraremos su contenido y le sustituiremos por los ejemplos</li>
          <li>
            assets: Ficheros que se incluyen en el bundle cuando la aplicación
            se empaqueta para producción
          </li>
          <li>
            main.ts: Fichero principal de la aplicación. No es necesario
            modificarle
          </li>
          <li>favicon.ico: Icono de la aplicación</li>
          <li>index.html: Página principal. No es necesario modificarle</li>
          <li>styles.css: Estilos globales de la app</li>
          <li>tsconfig.json: Configuración del compilador TS</li>
        </ul>
        <h1 id="TypeScript">
          <a href="#TypeScript" class="headerlink" title="TypeScript"></a
          ><a
            target="_blank"
            rel="noopener"
            href="https://www.typescriptlang.org/"
            >TypeScript</a
          >
        </h1>
        <p>
          JavaScript ES6 con tipos opcionales que pueden avisar de<br />potenciales
          problemas.
        </p>
        <h1 id="Componentes">
          <a href="#Componentes" class="headerlink" title="Componentes"></a
          >Componentes
        </h1>
        <ul>
          <li>
            Un componente es una nueva etiqueta HTML con una vista y una lógica
            definidas por el desarrollador.
          </li>
          <li>
            La vista es una plantilla (template) en HTML con elementos
            especiales.
          </li>
          <li>La lógica es una clase TypeScript vinculada a la vista.</li>
        </ul>
        <p><img src="componente.PNG" alt="Componente" /></p>
        <p><img src="import.PNG" alt="Import" /></p>
        <p>
          La vista del componente (HTML) se genera en función de su estado
          (atributos de la clase).
        </p>
        <h2 id="Recursos-de-la-app">
          <a
            href="#Recursos-de-la-app"
            class="headerlink"
            title="Recursos de la app"
          ></a
          >Recursos de la app
        </h2>
        <p>
          Los recursos (imágenes, fonts..) deben colocarse en una carpeta
          src&#x2F;assets para que estén accesibles en desarrollo y cuando se
          genera el paquete de producción.
        </p>
        <h2 id="Ejecucion-de-logica">
          <a
            href="#Ejecucion-de-logica"
            class="headerlink"
            title="Ejecución de lógica"
          ></a
          >Ejecución de lógica
        </h2>
        <p>
          Se puede ejecutar un método ante un evento producido en la vista del
          componente.
        </p>
        <p><img src="event.PNG" alt="Event" /></p>
        <h2 id="Sintaxis-de-los-templates">
          <a
            href="#Sintaxis-de-los-templates"
            class="headerlink"
            title="Sintaxis de los templates"
          ></a
          >Sintaxis de los templates
        </h2>
        <p><img src="template-sintaxis.PNG" alt="Template Sintaxis" /></p>
        <h2 id="Data-Binding">
          <a href="#Data-Binding" class="headerlink" title="Data Binding"></a
          >Data Binding
        </h2>
        <p><img src="data-binding.PNG" alt="Data Binding" /></p>
        <h2 id="Templates">
          <a href="#Templates" class="headerlink" title="Templates"></a
          >Templates
        </h2>
        <p>
          Los templates permiten definir la vista en función de la información
          del componente.
        </p>
        <ul>
          <li>Visualización condicional</li>
          <li>Repetición de elementos</li>
          <li>Safe navigation operator</li>
          <li>Estilos</li>
          <li>Formularios</li>
        </ul>
        <h3 id="Visualizacion-condicional">
          <a
            href="#Visualizacion-condicional"
            class="headerlink"
            title="Visualización condicional"
          ></a
          >Visualización condicional
        </h3>
        <pre><code>    &lt;p *ngIf=&quot;visible&quot;&gt;Text&lt;/p&gt;
</code></pre>
        <h3 id="Repeticion-de-elementos">
          <a
            href="#Repeticion-de-elementos"
            class="headerlink"
            title="Repetición de elementos"
          ></a
          >Repetición de elementos
        </h3>
        <pre><code>    &lt;div *ngFor=&quot;let elem of elems&quot;&gt;&#123;&#123;elem.desc&#125;&#125; &lt;/div&gt;
</code></pre>
        <h3 id="Directivas">
          <a href="#Directivas" class="headerlink" title="Directivas"></a
          >Directivas
        </h3>
        <p>Las directivas modifican a los elementos en los que se incluyen.</p>
        <p>
          Existen muchas directivas predefinidas y podemos<br />programar
          nuestras propias directivas.
        </p>
        <p>
          Las directivas estructurales empiezan por * y modifican el DOM del
          documento (*ngIf, *ngFor, *ngSwitch).
        </p>
        <p>
          No se pueden incluir dos directivas estructurales (de tipo *) en el
          mismo elemento.
        </p>
        <h3 id="Safe-Navigation-Operator">
          <a
            href="#Safe-Navigation-Operator"
            class="headerlink"
            title="Safe Navigation Operator"
          ></a
          >Safe Navigation Operator
        </h3>
        <p>
          Para evitarlo existe el safe navigator operator. Undefined se
          representa como cadena vacía
        </p>
        <pre><code>    User’s name: &#123;&#123;user?.name&#125;&#125;
</code></pre>
        <h2 id="Estilos-CSS">
          <a href="#Estilos-CSS" class="headerlink" title="Estilos CSS"></a
          >Estilos CSS
        </h2>
        <h3 id="Globalmente-asociado-al-index-html">
          <a
            href="#Globalmente-asociado-al-index-html"
            class="headerlink"
            title="Globalmente asociado al index.html"
          ></a
          >Globalmente asociado al index.html
        </h3>
        <p>
          Si creamos un fichero src&#x2F;styles.css se incluirá de forma
          automática en el index.html.
        </p>
        <h3 id="Definir-CSS-en-Componente">
          <a
            href="#Definir-CSS-en-Componente"
            class="headerlink"
            title="Definir CSS en Componente"
          ></a
          >Definir CSS en Componente
        </h3>
        <p>En la propiedad styles o styleUrls de @Component</p>
        <p><img src="componente-css.PNG" alt="CSS de componente" /></p>
        <h3 id="Asociar-la-clase-de-un-elemento-a-un-atributo-string">
          <a
            href="#Asociar-la-clase-de-un-elemento-a-un-atributo-string"
            class="headerlink"
            title="Asociar la clase de un elemento a un atributo string"
          ></a
          >Asociar la clase de un elemento a un atributo string
        </h3>
        <pre><code>    &lt;h1 [class]=&quot;className&quot;&gt;Title!&lt;/h1&gt;
</code></pre>
        <h3 id="Activar-una-clase-concreta-con-un-atributo-boolean">
          <a
            href="#Activar-una-clase-concreta-con-un-atributo-boolean"
            class="headerlink"
            title="Activar una clase concreta con un atributo boolean"
          ></a
          >Activar una clase concreta con un atributo boolean
        </h3>
        <pre><code>    &lt;h1 [class.red]=&quot;redActive&quot;&gt;Title!&lt;/h1&gt;
</code></pre>
        <h3 id="Asociar-la-clase-de-un-elemento-a-un-mapa">
          <a
            href="#Asociar-la-clase-de-un-elemento-a-un-mapa"
            class="headerlink"
            title="Asociar la clase de un elemento a un mapa"
          ></a
          >Asociar la clase de un elemento a un mapa
        </h3>
        <pre><code>    &lt;p [ngClass]=&quot;pClasses&quot;&gt;Text&lt;/p&gt;
</code></pre>
        <h4 id="Asociar-un-estilo-concreto-a-un-atributo">
          <a
            href="#Asociar-un-estilo-concreto-a-un-atributo"
            class="headerlink"
            title="Asociar un estilo concreto a un atributo"
          ></a
          >Asociar un estilo concreto a un atributo
        </h4>
        <pre><code>    &lt;p [style.backgroundColor]=&quot;pColor&quot;&gt;Text&lt;/p&gt;
</code></pre>
        <h4 id="Asociar-un-estilo-concreto-a-un-atributo-1">
          <a
            href="#Asociar-un-estilo-concreto-a-un-atributo-1"
            class="headerlink"
            title="Asociar un estilo concreto a un atributo"
          ></a
          >Asociar un estilo concreto a un atributo
        </h4>
        <pre><code>    &lt;p [ngStyle]=&quot;getStyles()&quot;&gt;Text&lt;/p&gt;
</code></pre>
        <h2 id="Formularios">
          <a href="#Formularios" class="headerlink" title="Formularios"></a
          >Formularios
        </h2>
        <ul>
          <li>
            Vincular un control del formulario a un atributo del componente
          </li>
          <li>
            Acceso a los controles desde el código para leer y modificar su
            estado
          </li>
          <li>Mecanismos avanzados con validación con ngControl</li>
        </ul>
        <h3 id="Data-binding-en-campo-de-texto">
          <a
            href="#Data-binding-en-campo-de-texto"
            class="headerlink"
            title="Data binding en campo de texto"
          ></a
          >Data binding en campo de texto
        </h3>
        <h3 id="Data-binding-en-campo-de-texto-1">
          <a
            href="#Data-binding-en-campo-de-texto-1"
            class="headerlink"
            title="Data binding en campo de texto"
          ></a
          >Data binding en campo de texto
        </h3>
        <ul>
          <li>
            <p>
              Se vincula el control a un atributo del componente<br />con
              <strong>[(ngModel)]</strong>
            </p>
          </li>
          <li>
            <p>
              Cualquier cambio en el control se refleja en el valor del atributo
            </p>
            <pre><code>  &lt;input type=&quot;text&quot; [(ngModel)]=&quot;name&quot;&gt;
</code></pre>
          </li>
        </ul>
        <h3 id="Data-binding-en-checkbox">
          <a
            href="#Data-binding-en-checkbox"
            class="headerlink"
            title="Data binding en checkbox"
          ></a
          >Data binding en checkbox
        </h3>
        <p>
          Cada control se asocia con [(ngModel)] a un atributo booleano y su
          valor depende de si está “checked”
        </p>
        <pre><code>    &lt;input type=&quot;checkbox&quot; [(ngModel)]=&quot;booleano&quot;/&gt;
</code></pre>
        <h3 id="Data-binding-en-botones-de-radio">
          <a
            href="#Data-binding-en-botones-de-radio"
            class="headerlink"
            title="Data binding en botones de radio"
          ></a
          >Data binding en botones de radio
        </h3>
        <p>
          Todos los botones del mismo grupo se asocian al mismo atributo con
          [(ngModel)]
        </p>
        <pre><code>    &lt;input type=&quot;radio&quot; name=&quot;gender&quot; [(ngModel)]=&quot;gender&quot; value=&quot;Male&quot;&gt;
</code></pre>
        <h3 id="Acceso-a-los-controles-desde-el-codigo">
          <a
            href="#Acceso-a-los-controles-desde-el-codigo"
            class="headerlink"
            title="Acceso a los controles desde el código"
          ></a
          >Acceso a los controles desde el código
        </h3>
        <p>
          Un elemento del template puede asociarse a una variable:
          <strong>Template reference variables</strong>.
        </p>
        <p>
          Podemos usar esa variable en el código del template para manejar ese
          elemento.
        </p>
        <pre><code>    #templateVar
</code></pre>
        <p>
          También podemos acceder al elemento desde el código del componente.
          Creamos un atributo en el componente de tipo
          <strong>ElementRef</strong>. Anotamos ese atributo con
          <strong>@ViewChild(‘refName’)</strong>.
        </p>
        <p><img src="elementRef.PNG" alt="Element Reference" /></p>
        <h2 id="Composicion-de-componentes">
          <a
            href="#Composicion-de-componentes"
            class="headerlink"
            title="Composición de componentes"
          ></a
          >Composición de componentes
        </h2>
        <p><img src="component-tree.PNG" alt="Component Tree" /></p>
        <p>
          Al cargar la app en el navegador, en el árbol DOM cada componente
          incluye en su elemento el contenido de la vista.
        </p>
        <h3 id="Comunicacion-entre-un-componente-padre-y-un-componente-hijo">
          <a
            href="#Comunicacion-entre-un-componente-padre-y-un-componente-hijo"
            class="headerlink"
            title="Comunicación entre un componente padre y un componente hijo"
          ></a
          >Comunicación entre un componente padre y un componente hijo
        </h3>
        <h4 id="Configuracion-de-propiedades-Padre-Hijo">
          <a
            href="#Configuracion-de-propiedades-Padre-Hijo"
            class="headerlink"
            title="Configuración de propiedades (Padre Hijo)"
          ></a
          >Configuración de propiedades (Padre Hijo)
        </h4>
        <h5 id="Vista">
          <a href="#Vista" class="headerlink" title="Vista"></a>Vista
        </h5>
        <pre><code>    &lt;header [title]=&#39;appTitle&#39;&gt;&lt;/header&gt;
</code></pre>
        <h5 id="Controlador">
          <a href="#Controlador" class="headerlink" title="Controlador"></a
          >Controlador
        </h5>
        <pre><code>    export class HeaderComponent &#123;
        @Input()
        private title: string;
    &#125;
</code></pre>
        <h4 id="Envio-de-eventos-Hijo-Padre">
          <a
            href="#Envio-de-eventos-Hijo-Padre"
            class="headerlink"
            title="Envío de eventos (Hijo Padre)"
          ></a
          >Envío de eventos (Hijo Padre)
        </h4>
        <h5 id="Vista-1">
          <a href="#Vista-1" class="headerlink" title="Vista"></a>Vista
        </h5>
        <pre><code>    &lt;header (hidden)=&#39;hiddenTitle($event)&#39;&gt;&lt;/header&gt;
</code></pre>
        <h5 id="Controlador-1">
          <a href="#Controlador-1" class="headerlink" title="Controlador"></a
          >Controlador
        </h5>
        <pre><code>    export class HeaderComponent &#123;
        @Output()
        hidden = new EventEmitter&lt;boolean&gt;();
        visible = true;
        click()&#123;
        this.visible = !this.visible;
        this.hidden.next(this.visible);
        &#125;
    &#125;
</code></pre>
        <h5 id="Invocacion-de-metodos-Padre-Hijo">
          <a
            href="#Invocacion-de-metodos-Padre-Hijo"
            class="headerlink"
            title="Invocación de métodos (Padre Hijo)"
          ></a
          >Invocación de métodos (Padre Hijo)
        </h5>
        <h5 id="Compartiendo-el-mismo-servicio-Padre-Hijo">
          <a
            href="#Compartiendo-el-mismo-servicio-Padre-Hijo"
            class="headerlink"
            title="Compartiendo el mismo servicio (Padre Hijo)"
          ></a
          >Compartiendo el mismo servicio (Padre Hijo)
        </h5>
        <h2 id="Servicios">
          <a href="#Servicios" class="headerlink" title="Servicios"></a
          >Servicios
        </h2>
        <p>
          Acoplar en el componente la lógica de las peticiones http no es una
          buena práctica. El componente podría llegar a ser muy complejo y
          difícil de ampliar &#x2F; modificar. Es mucho más difícil implementar
          tests unitarios si el componente tiene muchas responsabilidades. Es
          mucho mejor modularizar la aplicación en elementos que tengan una
          única responsabilidad.
        </p>
        <p>
          A los elementos de la aplicación que no se encargan del interfaz de
          usuario se les conoce como servicios. Angular 2 ofrece muchos
          servicios predefinidos. El objeto http se considera un servicio de
          acceso a APIs REST, pero existen más. El desarrollador puede
          implementar sus propios servicios en la aplicación.
        </p>
        <h3 id="¿Como-se-implementa-un-servicio">
          <a
            href="#¿Como-se-implementa-un-servicio"
            class="headerlink"
            title="¿Cómo se implementa un servicio?"
          ></a
          >¿Cómo se implementa un servicio?
        </h3>
        <ul>
          <li><p>Se crea una nueva clase para el servicio</p></li>
          <li>
            <p>Se anota esa clase con <strong>@Inyectable</strong></p>
          </li>
          <li>
            <p>
              Se indica esa clase en la lista de providers del
              <strong>NgModule</strong>
            </p>
          </li>
          <li>
            <p>
              Se pone como <strong>parámetro en el constructor</strong> del
              componente que usa el servicio
            </p>
            <pre><code>  @Injectable()
  export class BooksService &#123;
      getBooks(title: string)&#123;
          return [
              &#39;Aprende Java en 2 días&#39;, 
              &#39;Java para torpes&#39;, 
              &#39;Java para expertos&#39;
          ];
      &#125;
  &#125;
</code></pre>
          </li>
        </ul>
        <h2 id="Inyeccion-de-dependencias">
          <a
            href="#Inyeccion-de-dependencias"
            class="headerlink"
            title="Inyección de dependencias"
          ></a
          >Inyección de dependencias
        </h2>
        <p>
          Es la técnica de solicitar dependencias que sean inyectadas por el
          framework se denomina inyección de dependencias.
        </p>
        <pre><code>@Component(&#123;
selector: &#39;app­root&#39;,
templateUrl: &#39;./app.component.html&#39;
&#125;)
export class AppComponent &#123;
    private books: string[] = [];
    constructor(private booksService: BooksService)&#123;&#125;
    search(title: string)&#123;
        this.books = this.booksService.getBooks(title);
    &#125;
&#125;
</code></pre>
        <p>
          Es habitual que haya un único objeto de cada servicio en la
          aplicación.
        </p>
        <h2 id="Router">
          <a href="#Router" class="headerlink" title="Router"></a>Router
        </h2>
        <p>
          Las webs SPA (single page application) pueden tener varias pantallas
          simulando la navegación por diferentes páginas.
        </p>
        <p>
          En app.routing.ts se define qué componente se muestra para cada URL.
        </p>
        <p>
          El componente principal de la aplicación (app-root) tiene una parte
          fija (cabecera, footer) y una parte cuyo contenido depende de la URL
          (&lt;router­outlet&gt;).
        </p>
        <p>
          Existen links especiales para navegar dentro de la aplicación web
          ([routerLink]).
        </p>
        <pre><code>    @Component(&#123;
    selector: &#39;app­root&#39;,
    template: `
        &lt;h1 class=&quot;title&quot;&gt;Library&lt;/h1&gt;
        &lt;router­outlet&gt;&lt;/router­outlet&gt;
    `
    &#125;)
    export class AppComponent &#123; &#125;
</code></pre>
        <h3 id="Configuracion-de-las-rutas">
          <a
            href="#Configuracion-de-las-rutas"
            class="headerlink"
            title="Configuración de las rutas"
          ></a
          >Configuración de las rutas
        </h3>
        <pre><code>    const appRoutes = [
        &#123; path: &#39;book/:id&#39;, component: BookDetailComponent,  &#125;,
        &#123; path: &#39;books&#39;, component: BookListComponent &#125;,
        &#123; path: &#39;&#39;, redirectTo: &#39;books&#39;, pathMatch: &#39;full&#39; &#125;
    ]
</code></pre>
        <h3 id="Parametro-de-router">
          <a
            href="#Parametro-de-router"
            class="headerlink"
            title="Parametro de router"
          ></a
          >Parametro de router
        </h3>
        <p><img src="router-param.PNG" alt="Router Param" /></p>
        <h3 id="Navegacion-con-router">
          <a
            href="#Navegacion-con-router"
            class="headerlink"
            title="Navegación con router"
          ></a
          >Navegación con router
        </h3>
        <p><img src="router-navigation.PNG" alt="Router Navegation" /></p>
        <h2 id="Publicacion">
          <a href="#Publicacion" class="headerlink" title="Publicación"></a
          >Publicación
        </h2>
        <pre><code>    ng build --target=production --environment=prod
</code></pre>
      </div>
    </article>
    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/js/blog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js"></script>
    <script>
      $(document).ready(function () {
        anchors.add("p");
      });
    </script>

    <script type="text/javascript" src="/js/common.js"></script>

    <!-- render ipynb file -->

    <!-- render ipynb file -->
  </body>
</html>
