.FeaturesTags_tags__qev0a {
  margin-top: 20px;
}
.FeaturesTags_tags__qev0a .FeaturesTags_tag__f8Svr {
  display: inline-block;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 4px;
  padding: 0 10px;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px 6px;
}
.FeaturesTags_tags__qev0a .FeaturesTags_tag__f8Svr:active,
.FeaturesTags_tags__qev0a .FeaturesTags_tag__f8Svr:hover {
  background-color: hsla(0, 0%, 100%, 0.4);
  text-decoration: none;
}
